# Node
node_modules/
npm-debug.log*

# Build output
dist/
dist-electron/
release/

# Editor
.vscode/
.idea/
.DS_Store
*.swp

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Misc
*.tsbuildinfo
